header {
    height: 60px;
    width: 1430px;
    color: black;
    background-color: antiquewhite;
    float: left;
    font-size: 20px;
    border: 3px solid black;
    margin-bottom:20px;
    text-align: center;
    padding: 15px;
   
}
article {
    float: left;
    width: 690px;
    height: 400px;
    color: black;
    background-color:antiquewhite;
    border: 3px solid black;
    padding: 15px;
}
.art1 {
    margin-right: 10px;
}
.art2 {
    margin-left: 10px;
}
img {
    width: 300px;
    height: 230px;
    margin-top: 20px;
}